<a href="https://colab.research.google.com/github/p-cuadros/curso_python/blob/master/s2lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
from numpy.random import rand

In [0]:
np.random.seed(101)

In [0]:
df = pd.DataFrame( rand(5,4), ["F1","F2","F3","F4","F5"],["C1","C2","C3","C4"])

In [0]:
df

          C1        C2        C3        C4
F1  0.685306  0.517867  0.048485  0.137869
F2  0.186967  0.994318  0.520665  0.578790
F3  0.734819  0.541962  0.913154  0.807920
F4  0.402998  0.357224  0.952877  0.343632
F5  0.865100  0.830278  0.538161  0.922469

In [0]:
df[['C1','C2']]

          C1        C2
F1  0.685306  0.517867
F2  0.186967  0.994318
F3  0.734819  0.541962
F4  0.402998  0.357224
F5  0.865100  0.830278

In [0]:
df['C5'] = df['C3'] + df['C4']

In [0]:
df

          C1        C2        C3        C4        C5
F1  0.685306  0.517867  0.048485  0.137869  0.186354
F2  0.186967  0.994318  0.520665  0.578790  1.099455
F3  0.734819  0.541962  0.913154  0.807920  1.721074
F4  0.402998  0.357224  0.952877  0.343632  1.296508
F5  0.865100  0.830278  0.538161  0.922469  1.460631

In [0]:
#df.drop('C5')
#df.drop('C5',axis=1)
df.drop('C5',axis=1, inplace=True)

In [0]:
df

          C1        C2        C3        C4
F1  0.685306  0.517867  0.048485  0.137869
F2  0.186967  0.994318  0.520665  0.578790
F3  0.734819  0.541962  0.913154  0.807920
F4  0.402998  0.357224  0.952877  0.343632
F5  0.865100  0.830278  0.538161  0.922469

In [0]:
df.shape

(5, 4)

In [0]:
df.loc['F1']

C1    0.685306
C2    0.517867
C3    0.048485
C4    0.137869
Name: F1, dtype: float64

In [0]:
df.loc['F1':'F3']

          C1        C2        C3        C4
F1  0.685306  0.517867  0.048485  0.137869
F2  0.186967  0.994318  0.520665  0.578790
F3  0.734819  0.541962  0.913154  0.807920

In [0]:
df.iloc[1]

C1    0.186967
C2    0.994318
C3    0.520665
C4    0.578790
Name: F2, dtype: float64

In [0]:
df.iloc[2,2]

0.9131535576757686

In [24]:
df.iloc[:,:]

          C1        C2        C3        C4
F1  0.685306  0.517867  0.048485  0.137869
F2  0.186967  0.994318  0.520665  0.578790
F3  0.734819  0.541962  0.913154  0.807920
F4  0.402998  0.357224  0.952877  0.343632
F5  0.865100  0.830278  0.538161  0.922469